* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(45deg, 
    rgba(18, 21, 24, 0.3) 0%, 
    rgba(15, 15, 15, 0.9) 100%),
    url(images/home-page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navigation a:hover {
    color: #00EEFF; 
}

.navigation li:hover {
    box-shadow: 5px 5px 10px #fff;
}

.nav-bar {
    display: flex;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

.logo .mob-list {
    display: none;
}



@media (min-width: 920px) {

    .nav-bar {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .logo {
        flex-basis: 40%;
        flex-grow: 1;
        flex-shrink: 1;
        text-align: center;
    }

    .logo ul li {
        list-style: none;
        margin-top: 20px;
        margin-left: -50px;
    }

    .logo li a {
        text-decoration: none;
        font-size: 35px;
        font-family: sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        color: #ffffff;
        box-shadow: 10px 10px 10px  #ffffff;
    } 

    /* Styling for the navigation after the logo... */

    .navigation {
        flex-basis: 60%;
    }

    .navigation ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        justify-content: space-around;
    }

    .navigation ul li {
        margin-top: 40px;
        flex-grow: 0;
        flex-shrink: 1;
    }

    .navigation ul li a {
        text-decoration: none;
        color: #ffffff;
        font-family: sans-serif;
        font-weight: 600;
        text-transform: uppercase;
    }

    .self-intro {
        display: flex;
        /* border: 1px solid blue; */
        width: 100%;
        box-sizing: border-box;
        margin-top: 50px;
        justify-content: space-between;
        justify-content: space-around;
    }

    .self-intro .description{
        /* border: 2px solid red; */
        justify-content: center;
        width: 45%;
        flex-grow: 0;
        flex-shrink: 1;
    }

    /* The images can be made to be responsive by setting a certain width percentage which will remain that size throughout all monitor displays and not hard code the size of the image with "px" */

    .my-image {
        position: relative;
        margin-top: 20px;
        margin-left: 90px;
        width: 200px;
        height: 200px;
        border-radius: 50% 0 50% 0;
        border-top: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
        background-image: url("/images/Mnisi.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 10px 10px 12px rgb(255, 255, 255);
    }

    .my-image::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 0 50% 0 50%;
        margin-left: -205px;
        margin-top: -2px;
        background-image: url("/images/Mnisi2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 10px 10px 12px rgb(255, 255, 255);
    }

} 


@media (max-width: 430px) {
    .menu-icon {
        width: 3em;
        height: 3em;
    }
    .nav-bar {
        display: block;
        margin-top: .2em;
    }

    .nav-bar .logo {
        display: none;
    }

    .navigation ul {
        list-style: none;
        font-family: sans-serif;
    }

    .navigation ul a {
        text-decoration: none;
        padding: 1em;
        color: #fff;
    }

    .navigation ul li:nth-child(1) {
        margin-left: 1.9em;
    }

    .navigation ul {
        margin-left: -.8em;
    }

    .navigation ul li {
       padding: .8em;
       border: .1em solid rgb(248, 247, 247);
       width: 10em;
    }


    .description  {
        padding: 1em;
        margin-top: 2em;
    }

    .contact-details, #cvDownload {
        font-size: .7em;
    }
    
}

.description h3, h2 {
    margin-top: 20px;
    color: #fff;
    font-family: sans-serif;
}

.description span {
    color: #00EEFF;
}

.description p {
    margin-top: 30px;
    font-family: sans-serif;
    color: #fff;
    margin-bottom: 40px;
}

.description ul {
    display: flex;
    list-style: none;
    margin-bottom: 50px;
}

.description ul li {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


ul li:nth-child(2), li:nth-child(3), li:nth-child(4) {
    margin-left: 30px;
}

.socials li img, .menu-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#cvDownload, .contact-details {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    background-color:  #00EEFF;
    margin-right: 50px;
    text-transform: uppercase;
    font-weight: 600;
}

.contact-details {
    padding-left: 20px;
    padding-right: 20px;
}

#cvDownload:hover, .contact-details:hover {
    background-color: #0f8891;
}
