* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans Unicode';
    color: #fff;
}

body {
    background-image: linear-gradient(45deg, 
    rgba(18, 18, 19, 0.5) 0%, 
    rgba(0, 0, 0, 0.9) 100%),
    url(images/services.jpg);
    background-position: center center;
    background-size: cover;
}

h1 {
    text-align: center;
    margin-top: 2em;
}

.serv-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 4em;
    justify-content: space-evenly;
}

.serv-container div {
    width: 20%;
    margin-bottom: 3em;
    box-shadow: 1em 1em 1em #ffffff;
}

.serv-container div h2 {
    text-align: center;
    margin-top: .5em;
}

.serv-container div p {
    margin: 2em 1em;
}